name: Migrations

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  migrate:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: nima
          POSTGRES_PASSWORD: secret123
          POSTGRES_DB: mydb
        ports: ["5432:5432"]
        options: >-
          --health-cmd="pg_isready -U nima -d mydb"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_URL: postgresql+psycopg://nima:secret123@localhost:5432/mydb

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Alembic migrations
        run: alembic upgrade head
